.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cabeçalho__menu {
    width: 24px;
    height: 24px;
    background-image:url(.//assets/Menu.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.conteiner {
    display: flex;
    align-items: center;
}

.conteiner__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conteiner__botao:checked~.lista-menu {
    display: block;
}

.conteiner__botao{
    display:none;
}

.lista-menu__item, .lista-menu__titulo {
    padding: 1em;
    background-color: var(--branco);
    
}

.lista-menu__titulo {
    color: #EB9B00;
    font-weight: 700;
}

.lista-menu__link {
    text-decoration: none;
    color: var(--cor-principal);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.conteiner__imagem-sub {
    display: none;
}

@media screen and (min-width: 1024px) {
    .tablet__botao:checked~.lista-menu {
        display:block;
        width: auto;
    } 

    .tablet__botao {
        display: none;
    }

}

@media screen and (min-width: 1728px) {

    .conteiner {
        margin: 0 3em;
    }

    .conteiner__lista {
        margin-right: auto;
        display: flex;
    }

    .lista-menu__item {
        margin-right: auto;
        
    }

    .conteiner__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-principal);
        font-size: 20px;
    }

    .lista-menu__link:hover {
        color: var(--branco);
        background: var(--cor-principal);
    }

    .conteiner__imagem-sub {
        display: block;
    }

}

@media screen and (min-width:1728px){
    
    .conteiner__imagem {
        margin-left: 1em;
    }
}